{
  "extends": ["react-app", "airbnb-base"],
  "rules": {
    "linebreak-style": ["error", "windows"],
    "no-console": "off",
    "arrow-parens": "off",
    "object-curly-newline": "off",
    "no-underscore-dangle": "off",
    "function-paren-newline": "off"
  },
  "env": {
    "browser": true
  }
}