.info-modal {
  align-items: flex-start;

  &__content {
    margin-top: 5em;
  }
}

.info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 3em;

  &__contact {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5em;
    margin-bottom: 0.75em;

    & .contact-label {
      margin-right: 0.5em;
      font-weight: 500;
    }
  }

  &__reddit {
    font-size: 1.5em;
    margin-bottom: 2em;

    & a {
      color: #ff4500;
    }
  }

  &__changelog {
    & .changelog-label  {
      font-size: 2em;
      font-weight: 500;
    }
  }
}