.info-modal {
  align-items: flex-start;

  &__content {
    margin-top: 5em;
    max-height: 85%;
    border-radius: 6px;
  }
}

.info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  overflow-y: auto;

  &__contact {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5em;
    margin-bottom: 0.5em;

    & .contact-label {
      margin-right: 0.5em;
      font-weight: 500;
    }
  }

  &__reddit {
    font-size: 1.5em;
    margin-bottom: 0.75em;

    & a {
      color: #ff4500;
    }
  }

  &__privacy {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    & span {
      text-align: center;
    }

    & span:nth-of-type(2) {
      margin-bottom: 0.25em;
    }
  }

  &__changelog {
    margin: 2.5em 0;

    & .changelog-label  {
      font-size: 2em;
      font-weight: 500;
    }
  }
}