.feed {
  position: absolute;
  left: 1.5em;
  bottom: 1.5em;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  &__item {
    color: white;
    font-size: 1.1em;
    font-weight: 200;

    display: inline-block;
    padding: 0.25em 0.5em;
    background-color: rgba(0, 0, 0, 0.15);
  }
}