.leaderboard {
  width: 15%;
  min-width: 300px;
  padding: 0.2em 0 0.5em 0;
  position: absolute;
  right: 1em;
  top: 1em;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  &__header {
    font-size: 2.34em;
    font-weight: 300;
    color: white;
    letter-spacing: 0.05em;
  }

  &__item {
    &.player {
      color: #FEE6CA;
    }

    width: 100%;
    padding: 0 0.5em;
    color: white;
    font-size: 1.3em;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.l-item {
  &__rank {
    flex: 1 1 auto;
    margin-right: 0.3em;
  }

  &__name {
    flex: 5 3 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__score {
    flex: 2 1 auto;
  }
}