.death {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);

  width: 65em;
  height: 15.33em;

  background: rgba(0, 0, 0, 0.2);
  background: url('../../../../assets/message-area.svg');
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.death.bounds span {
  font-weight: 400;
  font-size: 3.5em;
  color: white;
  text-shadow: #F5437E 3px 3px 0;
}

.death.player {
  span {
    font-weight: 400;
    font-size: 3.5em;
    color: white;
  }

  .name {
    font-weight: 500;
    font-size: 4.5em;
    color: white;
    text-shadow: #F5437E 3px 3px 0;
    margin-left: 0.25em;
  }
}