.f-modal {
  border-radius: 10px;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  &__header {
    font-size: 2em;
    font-weight: 300;
  }

  &__instructions {
    font-size: 1.3em;
    font-weight: 300;
  }

  &__code {
    font-size: 3em;
    margin: 0.5em 0;
  }
}

.f-form {
  margin-top: 0.5em;

  &__btn {
    background-color: #FA8573;
    color: white;

    &:hover, &:focus {
      color: white;
    }
  }
}