.f-modal {
  border-radius: 10px; }
  .f-modal__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
  .f-modal__header {
    font-size: 2em;
    font-weight: 300; }
  .f-modal__instructions {
    font-size: 1.3em;
    font-weight: 300; }
  .f-modal__code {
    font-size: 3em;
    margin: 0.5em 0; }

.f-form {
  margin-top: 0.5em; }
  .f-form__btn {
    background-color: #FA8573;
    color: white; }
    .f-form__btn:hover, .f-form__btn:focus {
      color: white; }
