* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden !important;
}

// Bulma
@import 'bulma/sass/utilities/initial-variables';

$family-sans-serif: 'Poppins', sans-serif;

@import 'bulma/bulma';