.mobile {
  width: 100vw;
  height: 100vh;

  background: linear-gradient(to top, #67346E, #CE596A, #F69993); 
  background: url('../../assets/background.svg');
  background-size: cover;
  background-position: center;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  & span {
    color: white;
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 2em;
  }

  & img {
    width: 80%;
    height: auto;
  }

  & .icon {
    width: 3em;
    height: auto;
  
    color: white;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2em;

    &:hover {
      cursor: pointer;
    }
  }
}