.mobile {
  width: 100vw;
  height: 100vh;

  background: linear-gradient(to top, #67346E, #CE596A, #F69993); 
  background: url('../../assets/background.svg');
  background-size: cover;
  background-position: center;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  padding: 0.5em;

  & img {
    width: 95%;
    height: auto;
    margin-top: 15vh;
    margin-bottom: 5vh;
  }

  & .text {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 1.4em;
    padding: 0.3em;
  }

  & .icon {
    width: 3em;
    height: auto;
  
    color: white;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2em;
  }
}